{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}ProColLab| {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'admin/css/z_base_site.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/changelists_new.css' %}">
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">ProColLab</a></h1>
{% endblock %}

{% block nav-global %}Петр Птушкин edition{% endblock %}
