{% extends "admin/base.html" %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}


{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
        >
        <a href="/admin/partner_programs/">Партнерские программы</a>
        >
        <a href="/admin/partner_programs/partnerprogramuserprofile/">Профили</a>
        > Экспорт
    </div>
{% endblock %}




{% block content %}
    <form action="{%  url 'admin:export_partners_file' %}" method="POST">
    {% csrf_token %}
        {% for i in fields_to_export %}
            <div>
            <b>Название столбца в Excel</b>
            <input type="text" id = 'column_name-{{  i.id }}' value="{{ i.column_name}}" name='column_name-{{  i.id }}',>
            <br>
            <b>Ключи в json(через точку с запятой)</b>
            <input style="width: 80%!important;" width="100px" type="text" name='column_key-{{  i.id }}' id ='column_key-{{ i.id }}' value="{{ i.json_keys }}">
            <br>
            <hr>
            <br>
            </div>
        {% endfor %}
    <input type="submit" value="Экспортировать в xlsx" />
  </form>
{% endblock %}