{% extends "admin/change_form.html" %}
{% load i18n %}

{% block submit_buttons_bottom %}


    {{ block.super }}
    <div class="submit-row">
        <input type="button" class="export-btn" value="Экспорт" onclick="export_profiles()"/>
    </div>




    <div class="submit-row">
        <input type="button" class="export-btn" value="Выгрузка оценок" onclick="partner_programs_export_rates()"/>
    </div>
    <script>
        function export_profiles() {

            {% if object_id %}
                window.open("{% url 'admin:export_profiles' object_id %}", '_blank').focus()
            {% endif %}
        }


         function partner_programs_export_rates() {
            {% if object_id %}
                window.open("{% url 'admin:partner_programs_export_rates' object_id %}", '_blank').focus()
            {% endif %}
        }
    </script>

{% endblock %}
