{% extends "admin/change_form.html" %}
{%  load i18n %}

{% block submit_buttons_bottom  %}


    {{ block.super }}
    <div class="submit-row">
        <input type="button" class="export-btn" value="Экспорт" onclick="export_profiles()"/>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    function export_profiles(){
        window.open("{% url 'admin:export_profiles' object_id %}", '_blank').focus()
    }
</script>

{% endblock %}

