:root {
    --primary: #7b4ae5a8;
    --secondary: #7b4ae5a8;
    --accent: #ffffff;
    --primary-fg: #ffffffb5;
    --body-fg: #ffffffb5;
    --body-bg: #000000d6;
    --body-quiet-color: #ffffffb5;
    --body-loud-color: #000;
    --header-color: #fff;
    --header-branding-color: var(--accent);
    --header-bg: var(--secondary);
    --header-link-color: var(--primary-fg);
    --breadcrumbs-fg: #ffffff;
    --breadcrumbs-link-fg: var(--body-bg);
    --breadcrumbs-bg: #b39be8;
    --link-fg: #b7c0ffcc;
    --link-hover-color: #7548ff;
    --link-selected-fg: #5b80b2;
    --hairline-color: #00000000;
    --border-color: #606060;
    --error-fg: #ba2121;
    --message-success-bg: #025a00;
    --message-warning-bg: #ff740033;
    --message-error-bg: #ffefef;
    --darkened-bg: #00000000;
    --selected-bg: #31295d;
    --selected-row: #31295d;
    --button-fg: #fff;
    --button-bg: var(--primary);
    --button-hover-bg: #609ab6;
    --default-button-bg: var(--secondary);
    --default-button-hover-bg: #205067;
    --close-button-bg: #888;
    --close-button-hover-bg: #747474;
    --delete-button-bg: #c2252563;
    --delete-button-hover-bg: #ff0000c2;
    --object-tools-fg: var(--button-fg);
    --object-tools-bg: var(--close-button-bg);
    --object-tools-hover-bg: var(--close-button-hover-bg);
}
#content-related .module{
    background: #00000036;
}

input[type=text], input[type=password], input[type=email], input[type=url],
input[type=number], input[type=tel], textarea, .vTextField {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 6px;
    margin-top: 0;
    color: #ffffff;
    background-color: #00000000;
}


.module {
    border: none;
    margin-bottom: 30px;
    background: #00000000;
}

.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 10px 12px;
    font-weight: 400;
    font-size: 0.8125rem;
    text-align: left;
    background: var(--primary);
    color: var(--header-link-color);
}

.navbar_models_name {
    padding: 10px 12px;
    border: 1px solid #5b5b5b00;
    border-radius: 4px;
}


.navbar_models {
    font-size: 0.875rem;
    font-weight: 700;
    display: block;
    padding: 10px 12px;
    margin: 0 0 10px 0;
    color: #ff0000;
    border: 1px solid #555555;
    border-radius: 4px;
    background-color: #00ffbc00;
    background-position: 5px 12px;
    overflow-wrap: break-word;
}

select {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 6px;
    margin-top: 0;
    color: var(--body-fg);
    background-color: #292929;
}

#nav-sidebar {
    z-index: 15;
    flex: 0 0 275px;
    left: -276px;
    margin-left: -276px;
    border-top: 1px solid transparent;
    border-right: 1px solid var(--hairline-color);
    background-color: #00000000;
    overflow: auto;
}

.toggle-nav-sidebar {
    z-index: 20;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 23px;
    width: 23px;
    border: 0;
    border-right: 1px solid var(--hairline-color);
    background-color: #00000000;
    cursor: pointer;
    font-size: 1.25rem;
    color: var(--link-fg);
    padding: 0;
}

tr:nth-child(odd), .row-form-error {
    background: #282828;
}
tr:nth-child(even) {
    background: #1d1d1dd6;
}

#nav-filter.no-results {
    background: #00000000;
}
.errornote {
    font-size: 0.875rem;
    font-weight: 700;
    display: block;
    padding: 10px 12px;
    margin: 0 0 10px 0;
    color: #cf1414;
    border: 1px solid #ba2121;
    border-radius: 4px;
    background-color: #292929;
    background-position: 5px 12px;
    overflow-wrap: break-word;
}
ul.errorlist {
    margin: 0 0 4px;
    padding: 3px;
    color: #f81919;
    background: #292929;
}
ul.errorlist li {
    font-size: 0.8125rem;
    display: block;
    margin-bottom: 1px;
}
.errors input, .errors select, .errors textarea, td ul.errorlist + input, td ul.errorlist + select, td ul.errorlist + textarea{
    border: 1px solid var(--error-fg);
}

div.breadcrumbs a {
    color: #ffffffd6;
    font-style: normal;

}

div.breadcrumbs {
    background: #533493;
    padding: 10px 40px;
    border: none;
    color: #ffffff;
    text-align: left;
    font-style: italic;
}
td, th {
    font-size: 0.8125rem;
    line-height: 16px;
    vertical-align: top;
    padding: 8px;

